<body id="backgroundphoto">

  <div class="text-center border border-light p-5">
    <p class="h4 mb-4">Find meals for your event</p>
    Search for a meal by name:
    <input type="text" [(ngModel)]="userSearchName" />
    <button (click)="nameSearchClick()">Search</button><br /><br />

    Search for a meal by ingredient:
    <input type="text" [(ngModel)]="userSearchIngredient" />
    <button (click)="ingredientSearchClick()">Search</button><br /><br />

    <button (click)="getRandomMealClick()">Get a random meal</button>

    <ng-container *ngIf="meals && !mealResponse">

      <ng-container *ngFor="let meal of meals.meals" class="text-center border border-light p-5">

        <p class="h4 mb-4"><br />{{ meal.strMeal }}</p>
        <img src="{{ meal.strMealThumb }}" title="{{ meal.strMeal }}"/><br />

        <button (click)="getDetails(meal.idMeal)">Get meal details</button>
        <button (click)="addToEventClick(meal.idMeal)">Add to event</button>

      </ng-container>

    </ng-container>

    <ng-container *ngIf="mealResponse" class="text-center border border-light p-5">

      <p class="h4 mb-4"><br />{{ mealResponse.meals[0].strMeal }}</p>
      <img src="{{ mealResponse.meals[0].strMealThumb }}" /><br />
      <button (click)="addToEventClick(meal.idMeal)">Add to event</button><br />

      Ingredients
      <table class="table">
        <tbody>
          <tr *ngIf="mealResponse.meals[0].strIngredient1 && mealResponse.meals[0].strIngredient1 != ''">
            <td>{{ mealResponse.meals[0].strMeasure1 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient1 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient2 && mealResponse.meals[0].strIngredient2 != ''">
            <td>{{ mealResponse.meals[0].strMeasure2 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient2 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient3 && mealResponse.meals[0].strIngredient3 != ''">
            <td>{{ mealResponse.meals[0].strMeasure3 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient3 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient4 && mealResponse.meals[0].strIngredient4 != ''">
            <td>{{ mealResponse.meals[0].strMeasure4 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient4 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient5 && mealResponse.meals[0].strIngredient5 != ''">
            <td>{{ mealResponse.meals[0].strMeasure5 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient5 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient6 && mealResponse.meals[0].strIngredient6 != ''">
            <td>{{ mealResponse.meals[0].strMeasure6 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient6 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient7 && mealResponse.meals[0].strIngredient7 != ''">
            <td>{{ mealResponse.meals[0].strMeasure7 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient7 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient8 && mealResponse.meals[0].strIngredient8 != ''">
            <td>{{ mealResponse.meals[0].strMeasure8 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient8 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient9 && mealResponse.meals[0].strIngredient9 != ''">
            <td>{{ mealResponse.meals[0].strMeasure9 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient9 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient10 && mealResponse.meals[0].strIngredient10 != ''">
            <td>{{ mealResponse.meals[0].strMeasure10 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient10 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient11 && mealResponse.meals[0].strIngredient11 != ''">
            <td>{{ mealResponse.meals[0].strMeasure11 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient11 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient12 && mealResponse.meals[0].strIngredient12 != ''">
            <td>{{ mealResponse.meals[0].strMeasure12 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient12 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient12 && mealResponse.meals[0].strIngredient13 != ''">
            <td>{{ mealResponse.meals[0].strMeasure13 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient13 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient14 && mealResponse.meals[0].strIngredient14 != ''">
            <td>{{ mealResponse.meals[0].strMeasure14 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient14 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient15 && mealResponse.meals[0].strIngredient15 != ''">
            <td>{{ mealResponse.meals[0].strMeasure15 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient15 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient16 && mealResponse.meals[0].strIngredient16 != ''">
            <td>{{ mealResponse.meals[0].strMeasure1 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient16 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient17 && mealResponse.meals[0].strIngredient17 != ''">
            <td>{{ mealResponse.meals[0].strMeasure17 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient17 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient18 && mealResponse.meals[0].strIngredient18 != ''">
            <td>{{ mealResponse.meals[0].strMeasure18 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient18 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient19 && mealResponse.meals[0].strIngredient19 != ''">
            <td>{{ mealResponse.meals[0].strMeasure19 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient19 }}</td>
          </tr>
          <tr *ngIf="mealResponse.meals[0].strIngredient20 && mealResponse.meals[0].strIngredient20 != ''">
            <td>{{ mealResponse.meals[0].strMeasure20 }}</td>
            <td>{{ mealResponse.meals[0].strIngredient20 }}</td>
          </tr>
        </tbody>
      </table>

      <header>
        Instructions:<br />
        {{ mealResponse.meals[0].strInstructions }}
      </header>

    </ng-container>

  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</body>
