
<!--<h1>Test Component</h1>
<div style="border: 1px solid red">test Component</div>-->

<body >
  <header id="backgroundphoto">

    <!--<img class="container-fluid-background"src="cocktailvariety.jpg" alt="Girl in a jacket" width="1200" height="800">-->

    <div title="CF" class="container-fluid text-right">

      <h1>The Cocktail Factory</h1>
      <h2>Welcome Cocktail Enthusiasts</h2>

    </div>

    <!--<div class="container-fluid text-right">-->
    <!--<h1>The Cocktail Factory</h1>-->
    <!--<h2>Welcome Cocktail Enthusiasts</h2>
  </div>-->


  </header>
</body>
