#backgroundphoto {
  background: url("../../Pictures/defaultimg.jpg") no-repeat;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

/*.text-center {
  text-align: center;
}*/

h1 {
  color: beige;
  font-size: 50px;
  margin-top: 40vh;
  padding: 10px;
  background: rgba(43, 142, 255, 0.4);
}

h2 {
  color: aliceblue;
  font-size: 30px;
  background: rgba(39, 220, 130, 0.4);
}

.container {
  position: relative;
}
