<header id="backgroundphoto">

      <div class="text-center border border-light p-5">
          <p class="h4 mb-4">Find cocktails for your event</p>
          Search for a cocktail by name:
          <input type="text" [(ngModel)]="userSearchName" />
          <button (click)="nameSearchClick()">Search</button><br /><br />

          Search for a cocktail by ingredient:
          <input type="text" [(ngModel)]="userSearchIngredient" />
          <button (click)="ingredientSearchClick()">Search</button><br /><br />

          <button (click)="getRandomDrinkClick()">Get a random drink</button>
      </div>


      <ng-container *ngIf="cocktails">

          <div *ngFor="let cocktail of cocktails.drinks" class="text-center border border-light p-5">

            <p class="h4 mb-4">{{ cocktail.strDrink }}</p>
            <img src="{{ cocktail.strDrinkThumb }}"/><br />
    {{ cocktail.strDrink }}
    {{ cocktail.idDrink }}<br />
    <button (click)="addToEventClick(cocktail.idDrink)" >Add to event</button>

          </div>

      </ng-container>
</header>
