<h1>Here are the events</h1>
<div style="border: 1px solid red">events Component</div>


<div class="InputLabel">
  <label for="FirstName">First Name:</label>
  <input type="text" id="FirstName" name="FirstName" /><br />

  <label for="LastName">Last Name:</label>
  <input type="text" id="LastName" name="LastName" /><br />

  <label for="EmailAddress">Email:</label>
  <input type="email" id="EmailAddress" name="EmailAddress" /><br />

  <label for="PhoneNumber">Phone:</label>
  <input type="tel" id="PhoneNumber" name="PhoneNumber" /><br />

  <label for="Cocktail">Cocktail:</label>
  <input type="text" id="Cocktail" name="Cocktail" /><br />

  <label for="CocktailSearch">Cocktail Search:</label>
  <input type="search" id="CocktailSearch" name="CocktailSearch" /><br />

  <label for="Meal">Meal:</label>
  <input type="text" id="Meal" name="Meal" /><br />

  <label for="MealSearch">Meal Search:</label>
  <input type="search" id="MealSearch" name="MealSearch" /><br />

  <label for="EventDate">Event Date:</label>
  <select id="EventDate" name="EventDate">
    <option value="11-20-2021 19:00">11-20-2021 7:00:00 PM</option>
    <option value="11-27-2021 19:30">11-27-2021 7:30:00 AM</option>
    <option value="12-04-2021 18:30">12-04-2021 6:30:00 PM</option>
  </select><br />

  <label for="GuestName">Guest Name:</label>
  <input type="text" id="GuestName" name="GuestName" /><br />

  <input type="submit" />
</div>
