


  <h1>Create Event Here</h1>




<div class="InputLabel">
  <label hidden for="idUser"></label>
  <input hidden type="number" id="idUser" name="idUser" /><br />

  <label for="eventName">Event Name:</label>
  <input type="text" id="eventName" name="eventName" /><br />

  <label for="date">Date:</label>
  <input type="datetime" id="date" name="date" /><br />

  <label for="city">City:</label>
  <input type="text" id="state" name="city" /><br />

  <label for="state">State:</label>
  <input type="text" id="state" name="state" /><br />



  <input type="submit" />
</div>
