
#backgroundphoto {
  background: url("../../Pictures/BarEvent3.jpg") no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
}

div {
  color: beige;
  font-size: 15px;
  padding: 10px;
  background: rgb(1 1 1 / 0.8);
  width: 50%;
  margin-left: 25%;
}


#eventList {
  color: beige;
  font-size: 15px;
  padding: 10px;
  /*background: rgb(1 1 1 / 0.8);*/
  width: 50%;
  margin-left: 25%;
}

input[type=text], input[type=submit], input[type=datetime], button, textarea {
  width: 65%;
  padding: 1px;
  border: 1px solid red;
  border-radius: 4px;
  resize: both;
  text-align:center
}

  button:hover {
    background-color: lightgreen;
  }
