<h1>Here are the events</h1>
<div style="border: 1px solid red">events Component</div>


<div class="InputLabel">
  <label for="FirstName">First Name:</label>
  <input type="text" id="FirstName" name="FirstName" /><br />

  <label for="LastName">Last Name:</label>
  <input type="text" id="LastName" name="LastName" /><br />

  <label for="EmailAddress">Email:</label>
  <input type="email" id="EmailAddress" name="EmailAddress" /><br />

  <label for="PhoneNumber">Phone:</label>
  <input type="tel" id="PhoneNumber" name="PhoneNumber" /><br />

  <input type="submit" />
</div>
