<header id="backgroundphoto">

  <form class="text-center border border-light p-5">
    <p class="h4 mb-4">Please fill in form to create an account</p>

    <div class="InputLabel">

      <label for="firstName">First Name</label><br />
      <input type="text" id="firstName" name="firstName" [(ngModel)] ="editFN" required/><br />

      <label for="lastName">Last Name</label><br />
      <input type="text" id="lastName" name="lastName" [(ngModel)] = "editLN" required/><br />

      <label for="phoneNumber">Phone Number</label><br />
      <input type="tel" id="phoneNumber" name="phoneNumber" [(ngModel)] = "editPN" placeholder="(313) 555-1234" required /><br />

      <label for="email">Email</label><br />
      <input type="email" id="email" name="email" [(ngModel)] = "editEmail" placeholder="Email" required /><br />

      <label for="Password">Password</label><br />
      <input type="password" id="Password" name="Password" [(ngModel)] = "editPass" placeholder="Password" required /><br />

      <!--<label for="passwordrepeat"><b>Repeat Password</b></label><br />
      <input type="password" placeholder="Repeat Password" name="passwordrepeat" id="passwordrepeat" required><br /><br />-->

      <button (click)="saveUserButton()" type="submit">Submit</button>

    </div>

    <br />
    <p>Already have an account?
      <br />
      <a href="/login">Login</a>
    </p>

  </form>

</header>

